    <!--   || Signature || -->
    <div class="grid-signature">
      <div class="row row-signature">
        <!--   Author   -->
        <div class="col-sm-12 col-wd-6">
          <div class= "signature">
            <div>
              <img src="../assets/images/perfil.png">
            </div>
            <div class="signature-txt">
              <p>Natália Medina</p>
              <a href="https://twitter.com/nt_medina">@nt_medina</a>
            </div>
          </div>
        </div>
        <!--   Next article   -->
        <div class="col-sm-12 col-md-6 col-wd-3 more-article">
          <div class="col">
            {% if page.next.url %}
            <a href="{{page.next.url}}">
              <div class="signature-txt">
                <div>
                  <p>{{page.next.title}}</p>
                  <a class="signature-link">next article</a>
                </div>
              </div>
            </a>
            {% endif %}
          </div>
        </div>
        <!--   Previous article   -->
        <div class="col-sm-12 col-md-6 col-wd-3 more-article">
          <div class="col">
            {% if page.previous.url %}
            <a href="{{page.previous.url}}">
              <div class="signature-txt">
                <div>
                  <p>{{page.previous.title}}</p>
                  <a class="signature-link">previous article</a>
                </div>
              </div>
            </a>
            {% endif %} 
          </div>
        </div>
      </div>
    </div>