    <!--   || Signature || -->
    <div class="grid-signature">
      <div class="row row-signature">
        <!--   Author   -->
        <div class="col-sm-12 col-wd-6">
          <div class= "signature">
            <div>
              <img src="img/perfil.png">
            </div>
            <div class="signature-txt">
              <p>Natália Medina</p>
              <a href="https://twitter.com/nt_medina">@nt_medina</a>
            </div>
          </div>
        </div>
        <!--   Next article   -->
        <div class="col-sm-12 col-wd-3 more-article">
          <div class="signature-txt">
            <div>
              <p>The designer's AI study guide</p>
              <a class="signature-link" href="https://twitter.com/nt_medina">next article</a>
            </div>
          </div>
        </div>
        <!--   Previous article   -->
        <div class="col-sm-12 col-wd-3 more-article">
          <div class="signature-txt">
            <div>
              <p>The designer's AI study guide</p>
              <a class="signature-link" href="https://twitter.com/nt_medina">previous article</a>
            </div>
          </div>
        </div>
      </div>
    </div>