/* Made with love By: Natália Medina */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;

}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

button {
  background: none;
}

a {
  text-decoration: none;
  font-family: 'AGaramondPro-it';
  font-size: 20px; 
  color: #666;
}

a:hover {
  color: #333;
}

/* Fonts */

@font-face {
    font-family: "Prata";
    src: url(../fonts/prata.regular.ttf);
}

@font-face {
    font-family: "ProximaNova";
    src: url(../fonts/ProximaNova-Reg.otf);
}

@font-face {
    font-family: 'AGaramondPro';
    src: url(../fonts/AGaramondPro-regular.otf);
}

@font-face {
    font-family: 'AGaramondPro-it';
    src: url(../fonts/AGaramondPro-italic.otf);
}

/* Header */

header {
  width: 100%;
  top: 0px;
  padding: 16px;
  z-index: 4;
  position: fixed;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.header-nav {
  position: fixed;
  z-index: 4;
  background-color: #111;
  border-bottom: none;
}

.icon-nav g{
  fill: #333;
}

.icon-nav g:hover {
  fill: #333;
}

.logo-ic {
  cursor: pointer;
}

.logo-ic g{
  fill: #333;
  align-items: center;
}

.logo-ic g:hover {
  fill: #666;
}

.menu-ic {
  cursor: pointer;
}

.menu-ic g{
  fill: #333;

}

.menu-ic g:hover {
  fill: #666;
}

.menu-ic-nav {
  visibility: hidden;
}

.close-ic {
  display: none;
}

.close-ic-nav {
  display: block;
  cursor: pointer;
}

.close-ic g{
  fill: #333;
}

.close-ic g:hover {
  fill: #666;
}


/* Menu */ 

.menu {
  position: fixed;
  text-align: center;
  background-color: #111;
  width: 100%;
  height: 100%;
  padding: 40% 0px;
  z-index: 3;  
  visibility: hidden;
}

.menu-nav {
  visibility: visible;
}

.menu ul {
  padding-top: 0px;
}

.menu ul li {
  list-style-type: none;
}

.menu ul li a {
  font-family: 'AGaramondPro-it';
  font-size: 20px; 
  color: #666;
  text-decoration: none;
  display: block;
  padding: 20px;
}

.menu ul li a:hover {
  color: #333;
}

.grid-main {
  padding-top: 68px;
}

/* Welcome */

#welcome {
  display: inline-flex;
}

#about h1 {
  font-family: 'ProximaNova';
  font-size: 12px;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  padding-right: 8px;
  margin: 32px 0px;
  color: #666;  
}

#about h2{
  font-family: 'Prata';
  font-size: 28px;
  letter-spacing: -0.3px;
  line-height: 52px;
  color: #333;
}

.social li {
  margin-bottom: 20px; 
}

.social-link {
  position: relative;
}

@media screen and (min-width: 640px) {
  .grid-main {
    padding: 80px 12%;
  }

  header {
    position: fixed;
    z-index: 4;
    background: transparent;
    border-bottom: none;
    padding: 52px 64px; 
  }

  .menu {
    padding: 30% 0px; 

  }

  .menu ul li a {
    padding: 16px;
  }

  #about h2 {
    margin-bottom: 64px;
  }
  
  .social {
    display: inline-flex;
  }

  .social li:first-child {
    padding-left: 0px;
  }

  .social li {
    padding-left: 32px;
  }

  /* Footer */

  footer {
    height: 64px;
  }

}

@media screen and (min-width: 920px) {
  .grid-main{
    padding: 88px 16.66%;
  }

  header {
    position: fixed;
    z-index: 4;
    background: transparent;
    padding: 40px 96px; 
  }

  .header-nav {
    position: fixed;
    z-index: 4;
    background-color: #111;
  }

  .menu {
    padding: 22% 0px; 

  }

  .menu ul li a {
    padding: 12px;
  }

  #about h2{
    font-size: 40px;
    letter-spacing: -0.3px;
    line-height: 64px;
  }

}

@media screen and (min-width: 1300px) {
  .grid-main{
    padding: 10px;
  }


}
