{% include header.html %}

  <!--   || Hightlight ||  -->
  <div class="grid">
    <div class="grid-container">
      <div class="row hl">
        <!-- Post mais recente em posts-->
            {% assign post = site.posts.first %}
        <div class="col-sm-12 col-wd-12">
          <div class="col">
            <div class="hl-txt">         
              <a href="{{ post.url }}"><h1 class="title">
                {{ post.title }}
              </h1></a>
              <h2 class="description">
                {{ post.description }}
              </h2>
              <a href="{{ post.url }}"><p class="readfull-cta">read full article</p></a>
            </div>
            <div class="hl-img-wd">
              <img src="{{ post.thumbnail }}"/>
            </div>
          </div>
        </div>
      </div>

      <!--   || Recent Articles || -->

      <div class="row">
        <div class="col-sm-12 col-wd-12">
          <div class="col">
            <p class="session-p">Recent Articles</p>
          </div>
        </div>
      </div>

      <div class="row">
      <!-- Para todos os posts em posts menos o mais recente -->
        {% for post in site.posts offset:1 %}
        {% unless post.draft %} 
        <div class="col-sm-12 col-wd-6">
          <div class="col rp" id="posts">
            <div class="post">
              <img src="{{ post.thumbnail }}"/>
                <h1 href="{{ post.url }}" class="title">
                  {{ post.title }}
                </h1>
                <p class="description">
                  {{ post.description }}
                </p>
                <a href="{{ post.url }}"><p class="readfull-cta">
                  read full article
                </p></a>
              </div>
          </div>
        </div>
        {% endunless %}
        {% endfor %}
      </div><!-- row -->
    </div> <!-- grid container -->
  </div><!-- grid -->


  {% include analytics.html %}

{% include footer.html %}
