{% include header.html %}

      <div class="about">
        <h1>HELLO.</h1>
        <h2>I am Natália Medina, brazilian visual designer born and raised in Rio de Janeiro.
            Currently working at <span><a href="http://www.globo.com">Globo.com</a></span>
        </h2>
      </div>
      <div class="social">
          <ul>
              <li><a href="https://br.linkedin.com/in/ntmedina">LINKEDIN</a></li>
              <li><a href="https://www.behance.net/nataliamedina">BEHANCE</a></li>
              <li><a href="https://twitter.com/nt_medina">TWITTER</a></li>
              <li><a href="https://github.com/ntmedina">GITHUB</a></li>
          </ul>
      </div>
    </div>

{% include analytics.html %}

{% include footer.html %}
