{% include header.html %}
    <div class="grid"> 

      <div class="row">
        <div class="col-wd-12 col-sm-12">
          <div class="col">
            <div id="about">
              <div id="welcome">
                <h1>olá. </h1><h1>hello. </h1><h1>salut.</h1>
              </div>
                <h2>I'm Natália Medina, brazilian digital designer born and raised in Rio de Janeiro. Currently working on BigData team at Globo.com</h2>
                <h1>you can also find me on</h1>
              <ul class="social">
                <li><a class="social-link" href="https://br.linkedin.com/in/ntmedina">linkedin</a></li>
                <li><a class="social-link" href="https://www.behance.net/nataliamedina">behance</a></li>
                <li><a class="social-link" href="https://twitter.com/nt_medina">twitter</a></li>
                <li><a class="social-link" href="https://github.com/ntmedina">github</a></li>
            </ul>
            </div>
          </div>  
        </div>
      </div>  
    </div> <!-- </> grid do Header -->

{% include analytics.html %}

{% include footer.html %}
