{% include header.html %}
      <div class="row">
        <div class="col-wd-12 col-sm-12">
          <div class="col">
            <div id="about">
              <div id="welcome">
                <h1>olá. </h1><h1>hello. </h1><h1>salut.</h1>
              </div>
                { content }
              <ul id="social">
                <li><a href="https://br.linkedin.com/in/ntmedina">linkedin</a></li>
                <li><a href="https://www.behance.net/nataliamedina">behance</a></li>
                <li><a href="https://twitter.com/nt_medina">twitter</a></li>
                <li><a href="https://github.com/ntmedina">github</a></li>
            </ul>
          </div>
        </div>  
      </div>

    </div> <!-- </> grid do Header -->

{% include analytics.html %}

{% include footer.html %}
